<h1>書籍一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>ISBN</th>
      <th>カテゴリー</th>
      <th>在庫数</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= book.category %></td>
        <td><%= book.total_copies %></td>
      </tr>
    <% end %>
  </tbody>
</table>
